6.BI/2.BI Metricas Implanta/3.pipeline/JSON/pl_integracao_metricas_staging_scd.json
{
    "name": "pl_integracao_metricas_staging",
    "properties": {
        "activities": [
            {
                "name": "Recuperar Bancos por Servidor",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT name as DataBaseName FROM sys.databases\nWHERE name LIKE '%implanta.net.br'\nand name NOT LIKE '%DBMigradoEArquivado%'\nORDER BY name",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_ALLdatabasesInServer",
                        "type": "DatasetReference",
                        "parameters": {
                            "ServerName": {
                                "value": "@pipeline().parameters.ServerName",
                                "type": "Expression"
                            },
                            "DataBaseName": "master",
                            "UserName": {
                                "value": "@pipeline().parameters.UserName",
                                "type": "Expression"
                            },
                            "Senha": {
                                "value": "@pipeline().parameters.Senha",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach in databases",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Recuperar Bancos por Servidor",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Recuperar Bancos por Servidor').output.value",
                        "type": "Expression"
                    },
                    "batchCount": 10,
                    "activities": [
                        {
                            "name": "Coletar Metricas do Cliente",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderStoredProcedureName": "HealthCheck.GetMetricasSistema",
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "dataset": {
                                    "referenceName": "DS_Source_Metricas",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "ServerName": {
                                            "value": "@pipeline().parameters.ServerName",
                                            "type": "Expression"
                                        },
                                        "DatabaseName": {
                                            "value": "@item().DataBaseName",
                                            "type": "Expression"
                                        },
                                        "UserName": {
                                            "value": "@pipeline().parameters.UserName",
                                            "type": "Expression"
                                        },
                                        "Senha": {
                                            "value": "@pipeline().parameters.Senha",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "firstRowOnly": false
                            }
                        },
                        {
                            "name": "Processar SCD Metricas",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "Coletar Metricas do Cliente",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "Staging.uspLoadMetricasSCD",
                                "storedProcedureParameters": {
                                    "JsonData": {
                                        "value": {
                                            "value": "@string(activity('Coletar Metricas do Cliente').output.value)",
                                            "type": "Expression"
                                        },
                                        "type": "String"
                                    }
                                }
                            },
                            "linkedServiceName": {
                                "referenceName": "LS_StagingDatabase",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "UserName": {
                "type": "string"
            },
            "Senha": {
                "type": "string"
            },
            "ServerName": {
                "type": "string"
            }
        },
        "folder": {
            "name": "ProjetoIntegracaoMetricas"
        },
        "annotations": [
            "SCD Tipo 2",
            "Versionamento Temporal",
            "Metricas Clientes"
        ],
        "lastPublishTime": "2025-01-16T10:00:00Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}