6.BI/2.BI Metricas Implanta/3.pipeline/JSON/pl_integracao_metricas_staging.json
{
    "name": "pl_integracao_metricas_staging",
    "properties": {
        "activities": [
            {
                "name": "Recuperar Bancos por Servidor",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT TOP 1 name as DataBaseName FROM sys.databases\nWHERE name LIKE '%implanta.net.br'\nand name NOT  LIKE '%DBMigradoEArquivado%'\nORDER BY name \n",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_ALLdatabasesInServer",
                        "type": "DatasetReference",
                        "parameters": {
                            "ServerName": {
                                "value": "@pipeline().parameters.ServerName",
                                "type": "Expression"
                            },
                            "DataBaseName": "master",
                            "UserName": {
                                "value": "@pipeline().parameters.UserName",
                                "type": "Expression"
                            },
                            "Senha": {
                                "value": "@pipeline().parameters.Senha",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "ForEach in databases",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Recuperar Bancos por Servidor",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Recuperar Bancos por Servidor').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Get Metricas",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.01:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 45,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "HealthCheck.GetMetricasSistema"
                            },
                            "linkedServiceName": {
                                "referenceName": "LS_Azure_SQL_Server",
                                "type": "LinkedServiceReference",
                                "parameters": {
                                    "ServerName": {
                                        "value": "@pipeline().parameters.ServerName",
                                        "type": "Expression"
                                    },
                                    "DatabaseName": {
                                        "value": "@item().DataBaseName",
                                        "type": "Expression"
                                    },
                                    "UserName": {
                                        "value": "@pipeline().parameters.UserName",
                                        "type": "Expression"
                                    },
                                    "Senha": {
                                        "value": "@pipeline().parameters.Senha",
                                        "type": "Expression"
                                    }
                                }
                            }
                        },
                        {
                            "name": "Copy to Staging",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Get Metricas",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 45,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderStoredProcedureName": "HealthCheck.GetMetricasSistema",
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "writeBehavior": "insert",
                                    "sqlWriterUseTableLock": false
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "name": "Cliente"
                                            },
                                            "sink": {
                                                "name": "Cliente",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "CodSistema"
                                            },
                                            "sink": {
                                                "name": "CodSistema",
                                                "type": "Byte",
                                                "physicalType": "tinyint"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Ordem"
                                            },
                                            "sink": {
                                                "name": "Ordem",
                                                "type": "Byte",
                                                "physicalType": "tinyint"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "NomeMetrica"
                                            },
                                            "sink": {
                                                "name": "NomeMetrica",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "TipoRetorno"
                                            },
                                            "sink": {
                                                "name": "TipoRetorno",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "TabelaConsultada"
                                            },
                                            "sink": {
                                                "name": "TabelaConsultada",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Valor"
                                            },
                                            "sink": {
                                                "name": "Valor",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        }
                                    ],
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "DS_Source_Metricas",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "ServerName": {
                                            "value": "@pipeline().parameters.ServerName",
                                            "type": "Expression"
                                        },
                                        "DatabaseName": {
                                            "value": "@item().DataBaseName",
                                            "type": "Expression"
                                        },
                                        "UserName": {
                                            "value": "@pipeline().parameters.UserName",
                                            "type": "Expression"
                                        },
                                        "Senha": {
                                            "value": "@pipeline().parameters.Senha",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DS_StagingMetricasClientes",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "UserName": {
                "type": "string"
            },
            "Senha": {
                "type": "string"
            },
            "ServerName": {
                "type": "string"
            }
        },
        "folder": {
            "name": "ProjetoIntegracaoMetricas"
        },
        "annotations": []
    }
}